<footer class="footer">
  <div class="footer-container">
    <div class="footer-left">
      <h3>📚 TQN BOOK STORE </h3>
      <p>Website bán sách – phục vụ nhu cầu học tập, phát triển bản thân và giải trí.</p>
    </div>
    <div class="footer-right">
      <p><strong>Liên hệ:</strong></p>
      <p>Email: taquangnhat@gmail.com</p>
      <p>Hotline: 0123 456 789</p>
      <p>Địa chỉ: FPT University, Hòa Lạc</p>
    </div>
  </div>
  <div class="footer-bottom">
    &copy; 2025 TQN book store. All rights reserved.
  </div>
</footer>
